@tailwind base;
@tailwind components;
@tailwind utilities;



#home   {
    width: 100%; /* Adjust width as needed */
    height: 100%; /* Adjust height as needed */
    background-color: #7E57C2; /* Background color */
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%); /* Define the zigzag polygon */
}
a{
    padding: 4px;
}

a:hover{
    background-color: white;
    color: black;
    transition-duration: 0.2s;
    border-radius: 5px;
    padding:4px
}