@tailwind base;
@tailwind components;
@tailwind utilities;



/* 
a{
    padding: 4px;
} */

ul li:hover{
    background-color: white;
    color: black;
    transition-duration: 0.2s;
    border-radius: 5px;
}